<div id="search-area">
    <form action="/search" method="GET" class="search-form-start">
        <input id="search" name="search" class="<%- search_input_classes %>" placeholder="Search...">
        <button class="<%- search_button_classes %>" type="submit"><img src="/search.svg"></button>
    </form>
</div>
