<div class="top-bar">
    <div class="container">
        <div class="flex space-flex">
            <a href="/" style="width: 40px; height: 40px;"><img class="top-bar-logo" src="/top-bar-logo.png"></a>
            <% if (hasResult) { %><%- include('search') %><% } %>
            <!--<a class="top-bar-menu" href="#">Top Unique Names</a>-->
        </div>
    </div>
</div>