<div id="search-area" class="<%- search_input_classes %>">
    <form class="col s12" action="/names-bf204/us-central1/names/search" method="post">
        <div class="row">
            <div class="input-field col s10">
                <i class="material-icons prefix">search</i>
                <textarea id="search" class="materialize-textarea" name="search"></textarea>
            </div>
            <div class="col s2">
                <button class="waves-effect waves-light btn search-button" type="submit">SEARCH</button>
            </div>
        </div>
    </form>
</div>
